<!--<h5>Start location</h5>-->

<%# @start.each do |l| %>
<!--  <ul>-->
<!--    <li><%#= l.name %></li>-->
<!--    <ul>-->
<!--      <li><%#= l.formatted_address %></li>-->
<!--      <li><%#= l.geometry %></li>-->
<!--    </ul>-->
<!--  </ul>-->
<%#end%>

<h5>Start destination</h5>

<% @destination.each do |l| %>
  <ul>
    <li><%= l.name %></li>
    <ul>
      <li><%= l.formatted_address %></li>
      <li><%= l.geometry %></li>
    </ul>
  </ul>
<%end%>